<!DOCTYPE html>
<html lang="en">
<head>
    <title>Are they Loyal?</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/cheat_images/side-view-woman-silhouette.png">
</head>

<body>
    <div class="parent">
        <div class="cover"></div>

        <div class="photo"><img src="cheat_images/woman_silent.png" alt="woman silent" class="silent"></div>

        <div class="navigation">
            <div class="logo">
                <a href="/">
                    <img src="cheat_images/side-view-woman-silhouette.png" alt="woman_silhouette">
                </a>
            </div>
            
            <div class="nav_contents">

                <ul>
                    <li>
                        <a href="#">How it Works</a>
                    </li>

                   <li>
                        <a href="#">Success Stories</a>
                    </li>    
                    
                   <li>
                        <a href="#">Blog</a>
                    </li>                    
                </ul>

            <div class="btns">
                <a href="/login" class="login">Login</a>
                <a href="/signup" class="join">Join Us</a>
            </div>

            </div>
        </div>

        <div class="description">
            <h1>Is Your Relationship Built on Trust?
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Put It to the Test.
                <br>
            </h1>

            <p>This a website to see if your partner is cheating on you.</p>

            <a href="/signup">Find Out</a>
        </div>
    </div>

    <script src="/home.js"></script>
</body>
</html>